body {
  margin: 0px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(192, 173, 149);
}

/* menu de navigation*/
nav ul {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #765E59;
  padding: 15px 30%;
}

nav li {
  font-size: 2em;
  list-style-type: none;
  margin-right: 20px;
}

nav a {
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 3px;
  text-decoration: none;
  margin: 0px;
  color:black;

}

nav a:hover {
  color:white;
}

/* fin de menu de navigation*/

/* titre h1 h2 */
h1,h2 {
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 5%;
}

h2{
font-size: 3em;
}

/* fin titre h1 h2*/

/*debut diapo*/
.diapo1 {
  margin: 0 auto;
  width: 870px;
  height: 489px;
  border: 5px solid #765E59;
  background-image: url("image/inondations1.jpg");

  -webkit-animation-name: diaporama;
  -webkit-animation-duration: 9s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;

  -moz-animation-name: diaporama;
  -moz-animation-duration: 9s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: normal;

  animation-name: diaporama;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@-webkit-keyframes diaporama{
  0%{background-image: url("image/inondations1.jpg");}
  33%{background-image: url("image/inondations2.jpg");}
  66%{background-image: url("image/inondations3.jpg");}
}

@-moz-keyframes diaporama{
  0%{background-image: url("image/inondations1.jpg");}
  33%{background-image: url("image/inondations2.jpg");}
  66%{background-image: url("image/inondations3.jpg");}
}

@keyframes diaporama{
  0%{background-image: url("image/inondations1.jpg");}
  33%{background-image: url("image/inondations2.jpg");}
  66%{background-image: url("image/inondations3.jpg");}
}
/*fin diapo*/
/*debut card*/
#carte{
  display: flex;
  margin-top: 130px;
}
.card{
  border: 3px solid #765E59;
  background-color:#765E59;
  margin: auto;
}
.card-body, .card-text, h5{
  color:black;
  font-weight: bold;
}
img{
  height: 200px;
  width: 360px;
}
/*fin card*/

/*debut map-contact*/

#map-contact{
  margin-top: 130px;
  display: flex;
  justify-content:space-evenly;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #765e59;
  padding: 40px;
}

legend{
  margin-bottom: 50px;
  font-weight: bold;
}
input {
width: 190px;
margin-bottom: 20px;
font-weight: bold;
}
#retour {
font-size: 2em;
font-weight: bold;
text-align: center;
margin-top: 50px;
}
/*fin map-contact*/
/*debut footer*/
.footer{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100px;
  margin-top: 50px;
  background-color: #765E59;
}
ol li{
  list-style: none;
  font-size: 1.2em;
  font-weight: bold;
}
.copyright-text{
  margin-top: 30px;
  font-weight: bold;
}