body {
  margin: 0px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

/* menu de navigation*/
nav ul {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #765E59;
  padding: 15px 30%;
}

nav li {
  font-size: 2em;
  list-style-type: none;
  margin-right: 20px;
}

nav a {
  font-size: 1em;
  padding-bottom: 3px;
  text-decoration: none;
  margin: 0px;
  color: white;

}

nav a:hover {
  color: black;
}

/* fin de menu de navigation*/

/* titre h1 */
h1 {
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 5%;
}

/* fin titre h1*/

/*debut diapo*/
.diapo1 {
  margin: 0 auto;
  width: 870px;
  height: 489px;
  border: 5px solid #765E59;
  background-image: url("image/inondations1.jpg");

  -webkit-animation-name: diaporama;
  -webkit-animation-duration: 9s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;

  -moz-animation-name: diaporama;
  -moz-animation-duration: 9s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: normal;

  animation-name: diaporama;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@-webkit-keyframes diaporama{
  0%{background-image: url("image/inondations1.jpg");}
  33%{background-image: url("image/inondations2.jpg");}
  66%{background-image: url("image/inondations3.jpg");}
}

@-moz-keyframes diaporama{
  0%{background-image: url("image/inondations1.jpg");}
  33%{background-image: url("image/inondations2.jpg");}
  66%{background-image: url("image/inondations3.jpg");}
}

@keyframes diaporama{
  0%{background-image: url("image/inondations1.jpg");}
  33%{background-image: url("image/inondations2.jpg");}
  66%{background-image: url("image/inondations3.jpg");}
}
/*fin diapo*/
.card{
  background-color: #765E59;
  margin: auto;
}
.card-text, h5{
  color:white;
}