body {
  margin: 0px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(192, 173, 149);
}

/*debut titre*/
h1 a {
  text-decoration: none;
  color: black;
}

h1 {
  margin-top: 0;
  padding-top: 30px;
  height: 120px;
  background-color: #765e59;
}

h1,
h2 {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

h2 {
  margin-top: 50px;
}

/*fin de titre*/

/*debut évènements*/
#card-main {
  margin-top: 80px;
}

.card {
  border: 3px solid #765E59;
  background-color: #765E59;
  margin: auto;
}

.card-title {
  margin-bottom: 50px;
}

.card-body {
  height: 360px;
  margin-left: 70px;
}

.card-body,
.card-text,
h5 {
  color: black;
  font-weight: bold;
}

img {
  height: 360px;
  width: 360px;
}

span {
  color: blue;
}

/*fin événement*/

#retour {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

/*debut footer*/
.footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100px;
  margin-top: 50px;
  background-color: #765E59;
}

ol li {
  list-style: none;
  font-size: 1.2em;
  font-weight: bold;
}

.copyright-text {
  margin-top: 30px;
  font-weight: bold;
}

/*fin footer*/

/* media queries, responsive design*/
@media screen and (max-width: 1040px) {
  .row {
    display: flex;
    flex-direction: column;
  }

  .card-text,
  .card-title {
    margin-bottom: 0;
  }

  .card-body {
    margin-left: 0;
    height: auto;
  }

  #card-main {
    margin: auto;
  }

  img {
    display: none;
  }
}

@media screen and (max-width: 592px) {

  h1,
  h2 {
    font-size: 2em;
  }

  .reseaux {
    display: none;
  }
}

/*fin media queries, responsive design*/